@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@using RazorLight
@inherits TemplatePage<Reguleringsplanbestemmelser>

@if (HasValue(Model.JuridiskeDokumenter))
{
    <h2>Juridiske dokumenter</h2>

    @foreach (var dokument in Model.JuridiskeDokumenter)
    {
        var dokDato = dokument.DokumentetsDato.HasValue ? dokument.DokumentetsDato.Value.ToString("dd.MM.yyyy") : "Ikke oppgitt";

        <div class="section">
            <h3>@dokument.Tittel</h3>

            @if (HasValue(dokument.Dokumentreferanse))
            {
                <div class="row">
                    <div class="col-4">Dokumentreferanse:</div>
                    <div class="col-8">@dokument.Dokumentreferanse</div>
                </div>
            }

            @if (HasValue(dokument.Sammendrag))
            {
                <p class="text-content">@Raw(dokument.Sammendrag)</p>
            }

            @if (HasValue(dokument.Rapportnummer))
            {
                <div class="row">
                    <div class="col-4">Rapportnummer:</div>
                    <div class="col-8">@dokument.Rapportnummer</div>
                </div>
            }

            <div class="row">
                <div class="col-4">Dokumentets dato:</div>
                <div class="col-8">@dokDato</div>
            </div>
        </div>
    }
}