@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@using RazorLight
@inherits TemplatePage<Reguleringsplanbestemmelser>

@if (HasItems(Model.JuridiskeDokumenter))
{
    <h2>Juridiske dokumenter</h2>

    @foreach (var dokument in Model.JuridiskeDokumenter)
    {
        var dokDato = dokument.DokumentetsDato.HasValue ? dokument.DokumentetsDato.Value.ToString("dd.MM.yyyy") : "Ikke oppgitt";

        <div class="section">
            <h3>@dokument.Tittel</h3>

            @if (HasValue(dokument.Dokumentreferanse))
            {
                <div class="row">
                    <div class="col-3">Dokumentreferanse:</div>
                    <div class="col-9">
                        @if (IsUrl(dokument.Dokumentreferanse))
                        {
                            <a href="@dokument.Dokumentreferanse" target="_blank">@dokument.Dokumentreferanse</a>
                        }
                        else
                        {
                            @dokument.Dokumentreferanse
                        }
                    </div>
                </div>
            }

            @if (HasValue(dokument.Sammendrag))
            {
                <p class="text-content">@Raw(dokument.Sammendrag)</p>
            }

            @if (HasValue(dokument.Rapportnummer))
            {
                <div class="row">
                    <div class="col-3">Rapportnummer:</div>
                    <div class="col-9">@dokument.Rapportnummer</div>
                </div>
            }

            <div class="row">
                <div class="col-3">Dokumentets dato:</div>
                <div class="col-9">@dokDato</div>
            </div>
        </div>
    }
}