@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@using RazorLight
@inherits TemplatePage<Reguleringsplanbestemmelser>

@if (HasValue(Model.Områdebestemmelser))
{
    var områdebestemmelser = Model.Områdebestemmelser.OrderBy(bestemmelse => bestemmelse.Sorteringsrekkefølge);

    @foreach (var bestemmelse in områdebestemmelser)
    {
        <div class="section">
            @RenderHeader(bestemmelse.Nummerering, bestemmelse.Overskrift)

            @if (HasValue(bestemmelse.Tekst?.TekstInnhold))
            {
                <p class="text-content">@Raw(bestemmelse.Tekst.TekstInnhold)</p>
            }

            @if (HasValue(bestemmelse.BestemmelseOmrådenavn) || HasValue(bestemmelse.Feltnavn) || HasValue(bestemmelse.Objektnavn))
            {
                <div class="more-info">
                    @if (HasValue(bestemmelse.BestemmelseOmrådenavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder bestemmelsesområder:</div>
                            <div class="col-8">@string.Join(", ", bestemmelse.BestemmelseOmrådenavn)</div>
                        </div>
                    }

                    @if (HasValue(bestemmelse.Feltnavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder felter:</div>
                            <div class="col-8">@string.Join(", ", bestemmelse.Feltnavn)</div>
                        </div>
                    }

                    @if (HasValue(bestemmelse.Objektnavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder objekter:</div>
                            <div class="col-8">@string.Join(", ", bestemmelse.Objektnavn)</div>
                        </div>
                    }
                </div>
            }
        </div>
    }
}