@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@using RazorLight
@inherits TemplatePage<Reguleringsplanbestemmelser>

@if (HasValue(Model.Rekkefølgebestemmelser))
{
    var rekkefølgebestemmelser = Model.Rekkefølgebestemmelser.OrderBy(bestemmelse => bestemmelse.Sorteringsrekkefølge);

    @foreach (var bestemmelse in rekkefølgebestemmelser)
    {
        <div class="section">
            @RenderHeader(bestemmelse.Nummerering, bestemmelse.Overskrift)

            @if (HasValue(bestemmelse.Tekst?.TekstInnhold))
            {
                <p class="text-content">@Raw(bestemmelse.Tekst.TekstInnhold)</p>
            }

            @if (HasValue(bestemmelse.Rekkefølgeangivelse?.Kodebeskrivelse) ||
             HasValue(bestemmelse.BestemmelseOmrådenavn) ||
             HasValue(bestemmelse.Feltnavn) ||
             HasValue(bestemmelse.HensynSonenavn) ||
             HasValue(bestemmelse.Objektnavn))
            {
                <div class="more-info">
                    @if (HasValue(bestemmelse.Rekkefølgeangivelse?.Kodebeskrivelse))
                    {
                        <div class="row">
                            <div class="col-4">Rekkefølgeangivelse:</div>
                            <div class="col-8">@bestemmelse.Rekkefølgeangivelse.Kodebeskrivelse</div>
                        </div>
                    }

                    @if (HasValue(bestemmelse.BestemmelseOmrådenavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder bestemmelsesområder:</div>
                            <div class="col-8">@string.Join(", ", bestemmelse.BestemmelseOmrådenavn)</div>
                        </div>
                    }

                    @if (HasValue(bestemmelse.Feltnavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder felter:</div>
                            <div class="col-8">@string.Join(", ", bestemmelse.Feltnavn)</div>
                        </div>
                    }

                    @if (HasValue(bestemmelse.HensynSonenavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder hensynssoner:</div>
                            <div class="col-8">@string.Join(", ", bestemmelse.HensynSonenavn)</div>
                        </div>
                    }

                    @if (HasValue(bestemmelse.Objektnavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder objekter:</div>
                            <div class="col-8">@string.Join(", ", bestemmelse.Objektnavn)</div>
                        </div>
                    }
                </div>
            }
        </div>
    }
}