@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@using RazorLight
@inherits TemplatePage<Reguleringsplanbestemmelser>

@if (HasItems(Model.Rekkefølgebestemmelser))
{
    var rekkefølgebestemmelser = Model.Rekkefølgebestemmelser.OrderBy(bestemmelse => bestemmelse.Sorteringsrekkefølge);

    @foreach (var bestemmelse in rekkefølgebestemmelser)
    {
        <div class="section">
            @RenderHeader(bestemmelse.Nummerering, bestemmelse.Overskrift, bestemmelse.Feltnavn)

            @if (HasValue(bestemmelse.Tekst?.TekstInnhold))
            {
                <p class="text-content">@Raw(bestemmelse.Tekst.TekstInnhold)</p>
            }

            @RenderVersion(bestemmelse.Versjonsnummer, bestemmelse.Versjonsdato)

            @if (HasValue(bestemmelse.Rekkefølgeangivelse?.Kodebeskrivelse) ||
             HasItems(bestemmelse.BestemmelseOmrådenavn) ||
             HasItems(bestemmelse.Feltnavn) ||
             HasItems(bestemmelse.HensynSonenavn) ||
             HasItems(bestemmelse.Objektnavn))
            {
                <div class="more-info">
                    @if (HasValue(bestemmelse.Rekkefølgeangivelse?.Kodebeskrivelse))
                    {
                        <div class="row">
                            <div class="col-3">Rekkefølgeangivelse:</div>
                            <div class="col-9">@bestemmelse.Rekkefølgeangivelse.Kodebeskrivelse</div>
                        </div>
                    }

                    @if (HasItems(bestemmelse.BestemmelseOmrådenavn))
                    {
                        <div class="row">
                            <div class="col-3">Bestemmelsesområder:</div>
                            <div class="col-9">@string.Join(", ", bestemmelse.BestemmelseOmrådenavn)</div>
                        </div>
                    }

                    @if (HasItems(bestemmelse.Feltnavn))
                    {
                        <div class="row">
                            <div class="col-3">Felter:</div>
                            <div class="col-9">@string.Join(", ", bestemmelse.Feltnavn)</div>
                        </div>
                    }

                    @if (HasItems(bestemmelse.HensynSonenavn))
                    {
                        <div class="row">
                            <div class="col-3">Hensynssoner:</div>
                            <div class="col-9">@string.Join(", ", bestemmelse.HensynSonenavn)</div>
                        </div>
                    }

                    @if (HasItems(bestemmelse.Objektnavn))
                    {
                        <div class="row">
                            <div class="col-3">Objekter:</div>
                            <div class="col-9">@string.Join(", ", bestemmelse.Objektnavn)</div>
                        </div>
                    }
                </div>
            }
        </div>
    }
}